<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
<form action="/jkhweb/addstu" method="post">
    <table>
        <tr>
            <td>学号</td>
            <td>姓名</td>
            <td>班级</td>
            <td>性别</td>
            <td>登记时间</td>

        </tr>
        <tr>
            <td>
                <input type="text" name="sno">
            </td>
            <td>
                <input type="text" name="name">
            </td>
            <td>
                <input type="text" name="myClass.name">
            </td>
            <td>
                <input type="text" name="mySex">
            </td>
            <td>
                <input type="date" name="createDate">
            </td>
        </tr>
        <tr>
            <td><input type="submit" value="提交">
            </td>
        </tr>
    </table>
</form>
</body>
</html>