<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/web/static/js/jquery-3.6.0.min.js"></script>
    <script src="/web/static/js/public.js"></script>

</head>
<body>
<form>
        <table>
            <tr>
                <td>学号:</td>
                <td><input type="text" id="txtId"></td>
            </tr>
            <tr>
                <td>姓名:</td>
                <td><input type="text" id="txtName"></td>
            </tr>
            <tr>
                <td>班级:</td>
                <td><input type="text" id="txtMyClass"></td>
            </tr>
            <tr><td colspan="2"><button id="btnSave">保存</button></td></tr>
        </table>
</form>
<script>
    $(function () {
        $("#btnSave").click(function () {
            var stu =new Object();
            stu.id=$("#txtId").val();
            stu.number=stu.id;
            stu.name=$("#txtName").val();
            stu.myClass=new Object();
            stu.myClass.id=$("#txtMyClass").val();
            doData("student/add",stu,function (data) {
                alert(data.message);
            })

        });

    });
</script>
</body>

</html>

